@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

:root {
  --bgColor: #000;
  --borderCl: #be0a0a;
  --textColor: #ffffff;
  --tooltip: #292929;
  --bgModal: rgb(0, 0, 0, 0.2);
  --bgCardBranco: rgb(255, 255, 255, 0.4);
  --bgCardbtn: rgb(0, 0, 0, 0.4);
  --Verde: #498f08;

}

#app {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}


button {
  width: 15%;
  height: 5vh;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Azeret Mono', monospace;
  background-color: var(--textColor);
  border: 1px solid var(--textColor);
  align-items: left;
  text-align: start;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -moz-transform: skew(0deg, 0deg);
  -webkit-transform: skew(0deg, 0deg);
  -o-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
}

button:hover {
  transition: 1s;
  background-color: var(--tooltip);
  color: var(--textColor);
}


/*======================== Modal ========================*/

.modal_css {
  position: fixed;
  width: 80%;
  height: 86%;
  left: 10%;
  margin-top: 2%;
  border: 5px solid var(--bgColor);
  border-right: 5px solid var(--borderCl);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/*======================== Menu rota Norte&Sul ========================*/

.rotas_css {
  width: 50%;
  height: 100%;
}

.title_css {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: left;
  text-align: start;
}

.title_css i {
  padding: 15px;
  color: rgb(224, 185, 106);
}

.title_css p {
  padding: 15px;
  margin: 0;
  margin-left: 2%;
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Azeret Mono', monospace;
  color: var(--textColor);
}


/*======================== Cards de Jobs ========================*/
.card_css {
  width: 100%;
  height: 85%;
  align-items: left;
  text-align: start;
}

.card_css button {
  padding-left: 15px;
  width: 95%;
  height: 15%;
  margin: 2%;
  font-size: 20px;
  font-weight: bold;
  color: var(--textColor);
  border: 1px solid var(--bgColor);
  border-left: 5px solid var(--borderCl);
  background-color: var(--bgCardbtn);
}

.card_css button:hover {
  transition: 0.8s;
  color: var(--bgColor);
  border: 1px solid var(--bgCardBranco);
  border-left: var(--borderCl) 5px solid;
  background-color: rgb(255, 255, 255, 0.8);

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all all 0.1s ease;
}

.card_css img{
  width: 35px;
  float: right;
}



/*======================== Map rota Norte&Sul ========================*/
.rotasulnorte_css {
  width: 50%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  filter: contrast(160%);
}

/* NORTE */
.norte_css {
  width: 100%;
  height: 50%;
  background-image: url(assets/norte.png);
  background-size: cover;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.norte_css:hover {
  border: 2px solid var(--textColor);
  transition: 0.1s;
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 99;
  opacity: 1.0;
}

.iconNorte {
  height: 20vh;
}

.iconNorte:hover {
  transition: 1s;
  -moz-transform: translate(0px, -10px);
  -webkit-transform: translate(0px, -10px);
  -o-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

/* SUL */
.sul_css {
  width: 100%;
  height: 50%;
  background-image: url(assets/sul.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

.sul_css:hover {
  border: 1px solid #ffffff;
  transition: 0.1s;
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 99;
 opacity: 1.0;
}

.iconSul {
  height: 20vh;
}

.iconSul:hover {
  transition: 1s;
  -moz-transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  -o-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}


.button_suborno {
  margin-right: 7px;
  margin-left: 15px;  
  transition: 0.1s;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all all 0.1s ease;
}

.button_suborno:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.button_local {
  margin-right: 7px;
  margin-left: 15px;  
  transition: 0.1s;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all all 0.1s ease;
}

.button_local:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
