@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&display=swap');

:root {
  --bgColor: #000;
  --borderCl: #be0a0a;
  --textColor: #ffffff;
  --tooltip: #292929;
  --bgModal: rgb(0, 0, 0, 0.2);
  --bgCardBranco: rgb(255, 255, 255, 0.8);
  --bgCardbtn: rgb(0, 0, 0, 0.8);
  --Verde: #498f08;

}

#app {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}


button {
  width: 15%;
  height: 5vh;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Qwitcher', cursive;
  background-color: var(--textColor);
  border: 1px solid var(--textColor);

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -moz-transform: skew(0deg, 0deg);
  -webkit-transform: skew(0deg, 0deg);
  -o-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
}

button:hover {
  transition: 1s;
  background-color: var(--tooltip);
  color: var(--textColor);
}


/*======================== Modal ========================*/

.modal_css {
  position: fixed;
  width: 80%;
  height: 86%;
  left: 10%;
  margin-top: 2%;
  border-right: 5px solid var(--borderCl);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(assets/fundoo.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-color: var(--bgColor);
}


/*======================== Menu rota Norte&Sul ========================*/

.rotas_css {
  width: 50%;
  height: 100%;
}

.title_css {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title_css i {
  color: rgb(224, 185, 106);
}

.title_css p {
  margin: 0;
  margin-left: 2%;
  font-size: 4vh;
  font-family: 'Holtwood One SC', serif;
  color: var(--textColor);
}


/*======================== Eletronic, Plastic, Drogas, Mochila ========================*/
.card_css {
  width: 100%;
  height: 85%;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.card_css button {
  width: 45%;
  height: 15%;
  margin: 2%;
  font-size: 25px;
  font-weight: bold;
  color: var(--textColor);
  border-left: 5px solid var(--borderCl);
  background-color: var(--bgCardbtn);

  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card_css button:hover {
  transition: 0.8s;
  color: var(--bgColor);
  border: 1px solid var(--bgColor);
  background-color: var(--bgCardBranco);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all all 0.5s ease;
  border-left: var(--Verde) 5px solid;
}




/*======================== Map rota Norte&Sul ========================*/
.rotasulnorte_css {
  width: 50%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

/* NORTE */
.norte_css {
  width: 100%;
  height: 50%;
  background-image: url(https://media.discordapp.net/attachments/918143224420376608/1014222172564230214/norte.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.norte_css:hover {
  border: 2px solid var(--textColor);
  transition: 1s;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 99;
}

.iconNorte {
  width: 20%;
  height: 20vh;
}

.iconNorte:hover {
  transition: 1s;
  -moz-transform: translate(0px, -10px);
  -webkit-transform: translate(0px, -10px);
  -o-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

/* SUL */
.sul_css {
  width: 100%;
  height: 50%;
  background-image: url(https://media.discordapp.net/attachments/918143224420376608/1014222172962701392/sul.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sul_css:hover {
  border: 1px solid #ffffff;
  transition: 1s;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 99;
}

.iconSul {
  width: 20%;
  height: 20vh;
}

.iconSul:hover {
  transition: 1s;
  -moz-transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  -o-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

@media only screen and (max-width: 100px) {
  .sul_css {
    background-size: 100%;
  }
  .norte_css{
    background-size: 100%;
  }
}



























/*
.card-goup{
  width: 20%;
  position: absolute;
  top: 15%;
  left: 5%;
}
.cards{
  width: 100%;
}
.card{
  width: 60%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: var(--bgColor);
  border-left: var(--borderCl) solid 4px;
  color: var(--textColor);
  border-radius: 8px;
  margin: 6px;
  text-align: center;
}
.card-body{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 4px;
}
.card-img{
  width: 50%;
  height: 100%;
}
.card-img img{
  width: 50%;
  height: 100%;
}
.card-text{
  text-align: center;
  margin: 0px 6px;
}

.card-text i{
  font-size: 20px;
}

.card:hover{
  -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all all 0.5s ease-out;
  border-left: #498f08 6px solid;
  cursor: pointer;
}

.modal{
  width: 500px;
  height: 400px;
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--textColor);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  border-left: #be0a0a solid 4px;
  top: 5%;
  left: 30%;
}
.modal h3{
  width: 100%;
}
.modalImg{
  width: 80%;
}
.modalImg:hover{
  -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all all 0.5s ease-out;
  transform: translateY(-2px);
  cursor: pointer;
}
.modalImg img{
  width: 40%;
}
*/