<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS personalizado -->
	<link rel="stylesheet" href="css/estilo.css">

	<!--Sweet Alert-->
	<link rel="stylesheet" href="css/sweetalert2.css">

	<!-- Title -->
	<title>Monkey Concessionária</title>

</head>


<body>
	<div id="app">

		<div v-if="show_vue">



<!-- 
	================================================================================================================================================================================================================================================================================================================================ 
	Pressionar F para modo visualização
	================================================================================================================================================================================================================================================================================================================================
-->
			<div v-if="show_icone === false" @click="show_icone = true" class="pressF">
				<span>
					Pressione <strong> F </strong> para o modo de visualização
				</span>
			</div>
			<div v-if="show_icone === true"  class="pressRotate">
				<span>
					Pressione <strong> A </strong> e <strong> D </strong> para rotacionar o carro 
					ou<br> <strong> W </strong> e <strong> S </strong> para dar Zoom no carro. <br><br>
				</span>
			</div>
			<div v-if="show_icone === true" @click="show_icone = false" class="pressFback" >
				<span>
					Pressione <strong> F </strong> para voltar.
				</span>
			</div>


			<!-- 
	================================================================================================================================================================================================================================================================================================================================ 
		MENU LATERAL DIREITA
	================================================================================================================================================================================================================================================================================================================================
-->

<!--
				<div class="right_texto_css desc_nome_carro_css">{{nome_carro_vue}}<i class="iCarRight_texto_css fa fa-car-rear"></i></div>
				<div class="right_texto_css desc_valor_css">R$: {{parseFloat(valor_vue).toFixed(2)}}<i class="iCoinRight_texto_css fa fa-coins"></i></div>
				<div class="right_texto_css desc_kg_css">Kg: {{kg_vue}}<i class="iBalanceRight_texto_css fa fa-scale-balanced"></i></div>
				<div class="right_texto_css desc_acel_css">{{aceleracao_vue}}</div>
				<div class="right_texto_css desc_vel_css">{{velocidade_vue}}</div>
				<div class="right_texto_css desc_ade_css">{{aderencia_vue}}</div>
				<div class="right_texto_css desc_fre_css">{{frenagem_vue}}</div> 
-->





			<!-- 
	================================================================================================================================================================================================================================================================================================================================ 
		MENU LATERAL ESQUERDA
	================================================================================================================================================================================================================================================================================================================================
-->



			<div v-if="show_icone === false" class="menucarros_css">

				<div class="left_perspective_css" v-for="carro in lista_vue">
					<div class="card_image_css" @click="mostrarCarro(carro)">
						<div class="left_nome_carro_css">{{carro.nome_vitrine}}
							<div class="kg_css">Kg: {{carro.kg}}</div>
						</div>

						<img :src="'https://j4v4.site/MC/carros/'+ carro.nome +'.png'" />

						<div class="valor_css">R$:{{parseFloat(carro.preco).toFixed(2)}}</div>
					</div>
				</div>

			</div>



			<!-- 
	================================================================================================================================================================================================================================================================================================================================ 
		MODAL TESTE
	================================================================================================================================================================================================================================================================================================================================
-->
			<div class="modal_corpo_css" v-if="show_modal === false">
				<div class="modal_titulo_css">
					<p> {{ tituloModal }} </p>
					<button class="modal_fechar_css" @click="fecharModal()">X</button>
				</div>

				<div class="modal_conteudo_css">
					<div class="modal_">
						<div class="modal_card_css" v-for="(carro, index) in player_carros">
							<img :src="'https://j4v4.site/MC/carros/'+ carro.nomeCarro +'.png'" />
							<div class="modal_desc_carro_css">
								{{carro.nomeVitrine}} <i class="fa fa-money-bill-transfer"></i>
								R$:{{parseFloat(carro.valor).toFixed(2)}} {{carro.placaCarro}}
							</div>
							<div class="modal_desc_css">
								<button class="modal_btnTransferir_css" :onclick="'btnTransferir('+index+')'">Transferir</button>
								<button class="modal_btnVender_css" :onclick="'btnVender('+index+')'">Vender</button>
							</div>
						</div>

					</div>
				</div>

				<div class="modal_footer_css">
					<p>
						Monkey Concessionária Ltda - 2022 &copy;
					</p>
				</div>
			</div>


			<!-- 
	================================================================================================================================================================================================================================================================================================================================ 
		MENU DE BAIXO
	================================================================================================================================================================================================================================================================================================================================
-->
			<Footer v-if="show_icone === false">
				<!-- Cores -->
				<div class="cores_css" v-for="cor in cores_vue" @click="mudarCor(cor)">
					<div class="cor_css" :style="'background-color: rgba('+cor.r+','+cor.g+','+cor.b+');'"></div>
				</div>


				<div class="footer_items">

					<div id="tbActive" class="caixa_search_css">
						<input class="caixa_texto_css" placeholder="Pesquisar Carros" v-model="pesquisa">
						<a class="botao_search_css" href="#">
							<i class="fas fa-search"></i>
						</a>
					</div>


					<div class="icones_css">
						<a onclick="abrirPortas()" class="iconeportasabertas_css" href="#">
							<img class="img_portas_abertas_css" src="img/carro_porta_aberta.png" alt="porta-abertas">
						</a>
						<a onclick="fecharPortas()" class="iconeportafechada_css" href="#">
							<img class="img_porta_fechada_css" src="img/carro_porta_fechada.png" alt="porta-fechada">
						</a>
						<a onclick="sair()" class="iconesair_css" href="#">
							<img class="img_sair_css" src="img/sair.png" alt="sair">
						</a>
					</div>

					<button class="footer_button_modal" @click="modalOn()">Meus Carros</button>
					<button class="footer_button" onclick="comprarCarro()">Comprar</button>
					<button class="footer_button" onclick="testeDrive()">Teste Drive</button>

				</div>

			</Footer>


		</div>






	</div>






	<!-- Vue js  -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

	<!-- FontAwesome snMatheus-->
	<script src="https://kit.fontawesome.com/b99e0b6ba4.js" crossorigin="anonymous"></script>

	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<!-- Sweet Alert-->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

	<!-- VueJS personalizado -->
	<script src="js/vue.js"></script>

</body>

</html>