<div id="store">
  <div class="p-2 d-flex flex-row">
    <!-- <ul class="nav-bar-serach">
      <li class="navbar-item-serach" @click="filtrar('todas')">
        <a
          ><span>TODAS</span></a
        >
      </li>
      <li class="navbar-item-serach" @click="filtrar('ak')">
        <a 
          ><span>AK</span></a
        >
      </li>
      <li class="navbar-item-serach" @click="filtrar('m4')">
        <a 
          ><span>M4</span></a
        >
      </li>
      <li class="navbar-item-serach" @click="filtrar('glock')">
        <a 
          ><span>GLOCK</span></a
        >
      </li>
      <li class="navbar-item-serach" @click="filtrar('fivem')">
        <a 
          ><span>FIVEM</span></a
        >
      </li>
    </ul> -->
    <div class="cards" v-if="carros.length > 0">
      <div
        class="card-carro"
        :class="[{'bg-red-carro': carro.raridade == 1},{'bg-blue-carro': carro.raridade == 2}, {'bg-yellow-carro': carro.raridade == 3}, {'bg-purple-carro': carro.raridade == 4}, {'bg-comum': carro.raridade == 0}]"
        v-for="(carro,index) in carros"
      >
        <div class="item-img">
          <img :src="'https://j4v4.site/MC/carros/'+ carro.nome +'.png'"  onerror="imageError(this)" />
        </div>
        <div class="item-title">{{carro.nome_Vitrine.toUpperCase()}}</div>
            <div class="item-price"><span><small class="text-danger translateY1">$</small> <i class="far fa-id-card-alt text-danger font-12 translateY-1 me-1"></i> {{ carro.placaCarro }}</span></div>
            <div class="item-qtd"><i class="far fa-weight-hanging text-danger"></i> <span>{{ parseInt(carro.kg).toLocaleString('pt-br', {minimumFractionDigits: 2, maximumFractionDigits: 0 }) }}</span> kg</div>
        <div class="item-btn-group">
          <button class="btn btn-aplicar" @click="transferir(carro, index)">
            <i class="far fa-exchange mx-2"></i><span>Transferir</span>
          </button>
          <button class="btn btn-aplicar" @click="btnVender(carro, index)">
            <i class="far fa-trash mx-2"></i><span>Vender</span>
          </button>
        </div>
      </div>
    </div>
    <div class="msg-vazio" v-else>
      <div class="msg-title">
        <i class="fa fa-info-circle msg-icon"></i>
        <span><h2>VAZIO</h2></span>
      </div>
      <div class="msg-text">
        <h6>Infelizmente você não tem nenhum Carro</h6>
      </div>
    </div>
  </div>
</div>


<script>
  var store = new Vue({
    el: "#store",
    data: {
      carros: core.carros,
      lista_player_carros: core.lista_player_carros
    }
  })

  function transferir(carro, index){
    btnTransferir(carro, index).then(data => cars.lista_player_carros = data).catch(err => console.log(err))
  }

  function playerCars(){
    getCarrosPlayer().then(data => cars.lista_player_carros = data).catch(err => console.log(err))
  }

  
 


  // function aplicar(arma) {
  //   aplicarArma(arma)
  //     .then((data) => {
  //       console.log(JSON.stringify(data));
  //     })
  //     .catch((err) => {
  //       console.log(err);
  //     });
  // }
  // function filtrar(filtro){
  //   console.log(filtro)
  // }
  
</script>
