<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

	<!-- CSS personalizado -->
	<link rel="stylesheet" href="css/style.css">

	<title>HotDogs</title>
</head>


<body>

	<div id="app">
		<div class="formmer" v-if="ver">
			<div class="text-center mb-4">
				<img class="mb-4" src="img/cardapio.png" alt="cardapio">
				<h1 class="h2 mb-3 font-weight-normal">The best Dog4ever of the city</h1>
				<p>Faça seu pedido</p>
			</div>
			<div class="container">
				<label for="new-lista">escolha um lanche</label>
				<select class="form-control mr-2 d-block" v-model="newListaText" id="new-lista">
					<option>01 - Doguinho</option>
					<option>02 - Hot Espetacular</option>
					<option>03 - Hotdogao</option>
					<option>04 - Hot Baconzitos</option>
					<option>05 - HotHot</option>
					<option>06 - Dog hot</option>
					<option>07 - Hot especial</option>
					<option>08 - Hot Supremo</option>
					<option>09 - Batata Frita</option>
					<option>10 - Burguer</option>
					<option>11 - Burgao</option>
					<option>12 - Mega Burguer</option>
				</select>
				
			<br>

				<button class="btn btn1 btn-lg btn-primary btn-block" onclick="listar()">Adicionar</button>
				
			<br>
				
				<ul>
					<li class="list-group-item" is="lista-item" v-for="(lista, i) in listas"
						v-bind:key="lista.id" v-bind:title="lista.title" v-on:remove="listas.splice(i, 1)"></li>
				</ul>

				
				<div class="col-auto my-1">
					<div class="custom-control custom-checkbox mr-sm-2">
						<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
						<label class="custom-control-label" for="customControlAutosizing">Lembrar preferências</label>
					</div>
				</div>
				
			<br>
				<button class="btn btn2 btn-lg btn-success btn-block text-center mb-4" onclick="sair()">Salvar</button>
				<button class="btn btn2 btn-lg btn-danger btn-block text-center mb-4"  onclick="sair()">Sair</button>
				
				<p class="mt-5 mb-3 text-muted text-center">&copy 2022 - Monkey Dogs</p>
			</div>
		</div>
	</div>




	<!-- Vue js  -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!-- JS personalizado -->
	<script src="js/script.js"></script>

</body>

</html>