@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Overlock+SC&family=Scheherazade+New&display=swap');

:root {
    --bgB: rgb(0.0, 0.0, 0.0, 0.8);
    --bgW: rgb(255, 255, 255, 0.8);
    --bgBlack: #25272e;
}

body {
    /* font-family: 'Overlock SC', cursive; */
    font-family: 'Scheherazade New', serif;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    background-color: var(--bgBlack);
}

.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

.nav-link:hover {
    animation: hover 1s ease-in-out infinite;
}

@keyframes hover {
    0% {
        transform: perspective(200px) translatez(0);
    }

    50% {
        transform: perspective(200px) translatez(5px);
    }

    100% {
        transform: perspective(200px) translatez(0);
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}



/* FOOTER */

#footer-wrapper {
    padding-top: 70px;
}

#footer-wrapper.footer-dark {
    background-color: var(--bgBlack);
}

#footer-wrapper.footer-light {
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.footer-dark .footer-widget-container .text-big {
    color: #fff;
}

.footer-dark .footer-widget-container .widget .title h3 {
    color: #fff;
}

.footer-widget-container>li {
    list-style: none;
}

.footer-dark .footer-widget-container p,
.footer-dark .footer-widget-container a,
.footer-dark .footer-widget-container address,
.footer-dark .footer-widget-container span,
.footer-dark .copyright-container p,
.footer-dark .copyright-container a,
.footer-dark .copyright-container span {
    color: #bcc0c4;
}

.copyright-container .row {
    margin-bottom: 0;
}

.footer-dark .copyright-container .row {
    border-top: 1px solid #384653;
    padding: 15px 0 10px 0;
}

.footer-light .copyright-container .row {
    border-top: 1px solid #ddd;
    padding: 15px 0 10px 0;
}

/* FOOTER ICONES ------------------------------------------------------------------------- */
.footer-social-icons {
    margin-top: 15px;
}

.footer-social-icons>li {
    list-style: none !important;
    background-image: none !important;
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    padding: 0 !important;
}

.footer-social-icons li a {
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.footer-social-icons li a:hover {
    color: #fff;
}

.footer-dark .footer-social-icons li a {
    background-color: #565f66;
    color: #fff;
}

.footer-light .footer-social-icons li a {
    background-color: #f6f6f6;
}

.footer-dark .footer-widget-container .newsletter {
    color: #bcc0c4;
    background-color: #565f66;
    border: none;
}
